html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f9f9f9;
}

.progress-vertical-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px; /* Maksimalna visina kontejnera */
    width: 100%;
    gap: 15px;
}

.progress-vertical {
    width: 40px; /* Širina stupca */
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.5s ease;
}

.progress-label {
    font-size: 12px;
    font-weight: bold;
}
